// @media (){
//     footer{
//         position: static;
//     }
// }

@media (max-width: 1024px) {
    header {
        .header {
            li a#logo-link{
                .title{
                    font-size: 40px;
                }
                img{
                    width: 45px;
                    height: 45px;
                }
            }
            .nav a{
                font-size: 22px;
            }
        }
    }
    main {
        margin-top: 95px;
        .timer-container{
            padding: 20px;
            .options li{
                font-size: 19px;
                padding: 5px 10px;
            }
            p{
                font-size: 90px;
                margin: 30px auto;
            }
            button{
                font-size: 30px;
                padding: 4px 15px;
            }
        }
    }
    .narrow-container{
        margin-top: 95px;
        h2{
            font-size: 25px;
        }
        p, ol{
            font-size: 17px;
        }
        .postscriptum{
            font-size: 18px;
        }
        label{
            font-size: 17px;
        }
        .settings-box .item {
            input{
               font-size: 16px;
               padding: 3px;
               width: 110px;
           }
        }
        img{
            width: 70px;
        }
    }
}

@media (max-width: 768px) {
    header {
        .header {
            li {
                padding: 10px;
                a#logo-link{
                    .title{
                        font-size: 27px;
                        letter-spacing: 2px;
                    }
                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                    }
                }
            }
            .nav a{
                font-size: 17px;
            }
        }
    }
    main {
        margin-top: 70px;
        .timer-container{
            padding: 10px;
            width: 500px;
            max-width: 90%;
            .options li{
                font-size: 16px;
                padding: 4px 9px;
            }
            p{
                font-size: 70px;
                margin: 30px auto;
            }
            button{
                font-size: 24px;
                padding: 3px 13px;
            }
        }
    }
    .narrow-container{
        margin-top: 70px;
        width: 80%;
        h2{
            font-size: 22px;
            margin: 10px 0;
        }
        p, ol{
            font-size: 14px;
        }
        label{
            font-size: 16px;
        }
        p{
            margin: 7px 0;
        }
        ol{
            margin-bottom: 30px;
        }
        .postscriptum{
            font-size: 15px;
        }
        .settings-box {
            grid-template-columns: 1fr;
            .item{
                flex-direction: row;
                justify-content: space-around;
                padding: 10px 0;
                input{
                    font-size: 13px;
                    padding: 2px;
                    width: 110px;
                    margin: 0;
                }
            }
        }
        .settings-row{
            margin-top: 15px;
            input{
                width: 20px;
                height: 20px;
            }
        }
        img{
            width: 50px;
            margin: 30px auto 0;
        }
    }
    footer .contacts a {
        margin: 3px 0;
        img{
            width: 12px;
        }
    }
}

@media (max-width: 425px) {
    
}