*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 0;
    background-color: #f1d8c1;
    overflow-y: scroll;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}


header .header {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: #361111;
}
header .header li {
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: crimson;
}
header .header li img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
header .header li .title {
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    color: crimson;
    letter-spacing: 3px;
}
header .header .nav a {
    padding: 0 15px;
    margin: auto;
    color: #f8ca8d;
    font-size: 24px;
}
header .header .nav a:hover {
    background-color: #522828;
    border-radius: 8px;
}


main{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
}
main .timer-container{
    width: 500px;
    margin: 20px auto ;
    padding: 15px;
    color:whitesmoke;
    border-radius: 5px;
    padding: 15px;
    background-color: #fa9a9a;
}
main .timer-container .options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
main .timer-container .options li{
    padding: 7px 15px;
    margin: 0 5px;
    border-radius: 10px;
    transition: 0.2s;
}
main .timer-container .options li:hover {
    cursor: pointer;
}
main .timer-container .options li.active{
    background-color: #f55656;
}
main .timer-container p{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin: 20px auto;
}
main .timer-container button {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 40px;
    font-size: 28px;
    background-color: #fff;
    color: #f55656;
    font-weight: bold;
    border: none;
    text-align: center;
    border-radius: 4px;
}

.narrow-container{
    max-width: 640px;
    font-size: 20px;
}
.narrow-container h2{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
.narrow-container p{
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
}
.narrow-container img{
    width: 15%;
    margin: 50px auto;
    display: block;
}
.narrow-container ol{
    font-size: 20px;
    padding-left: 70px;
    margin-bottom: 40px;
}
.narrow-container .postscriptum{
    font-size: 22px;
    color: #000057;
    font-weight: bold;
}
.narrow-container .settings-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;
    text-align: center;
}
.narrow-container .settings-box input{
    font-size: 20px;
    width: 140px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
}
.narrow-container .settings-row{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
}




footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #361111;
    color: #c2a182;
    text-align: center;
}
footer .contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer .contacts a{
    margin: 10px 0;
    padding: 0 5px;
}
footer .contacts a img{
    width: 20px;

}



::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 7px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background: #f1d8c1;
  }
  ::-webkit-scrollbar-thumb {
    background: #f8ca8d;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(186, 35, 35, 0.4);
  }